In [57]:
import statistics as stat
import pandas as pd
import numpy as np

In [58]:
data = [52, 45, 58, 46, 23, 74, 47, 85, 69, 30, 28, 19, 39, 64, 66, 99, 88, 22, 43, 75, 36]

In [59]:
print(data)

[52, 45, 58, 46, 23, 74, 47, 85, 69, 30, 28, 19, 39, 64, 66, 99, 88, 22, 43, 75, 36]

In [60]:

# Convert the list to a Pandas DataFrame
df = pd.DataFrame(data, columns=['Salary'])

In [61]:
# Shape of the data
shape = df.shape

In [62]:
print("Shape of data:", shape)

Shape of data: (21, 1)

In [63]:
num_rows = shape[0]

In [64]:
print("Number of rows:", num_rows)

Number of rows: 21

In [65]:
num_columns = shape[1]

In [66]:
print("Number of columns:", num_columns)

Number of columns: 1

In [67]:
# Type of data
data_type = type(df)

In [68]:
print("Type of data:", data_type)

Type of data: <class 'pandas.core.frame.DataFrame'>

In [69]:
# Data types of columns
column_data_types = df.dtypes

In [70]:
print("Data types of columns:\n", column_data_types)

Data types of columns:
 Salary    int64
dtype: object

In [71]:

# Column names
column_names = df.columns

In [72]:
print("Column names:", column_names)

Column names: Index(['Salary'], dtype='object')

In [73]:
average_salary = df['Salary'].mean()
print("Average salary:", average_salary)

Average salary: 52.76190476190476

In [74]:
highest_salary = df['Salary'].max()
lowest_salary = df['Salary'].min()
print("Highest salary:", highest_salary)
print("Lowest salary:", lowest_salary)

Highest salary: 99
Lowest salary: 19

In [75]:
threshold = 50000
salaries_above_threshold = df[df['Salary'] > threshold].shape[0]
print("Number of salaries above $50,000:", salaries_above_threshold)

Number of salaries above $50,000: 0

In [76]:
median_salary = df['Salary'].median()
print("Median salary:", median_salary)

Median salary: 47.0

In [77]:
N = 5
top_N_salaries = df.nlargest(N, 'Salary')
print("Top", N, "highest salaries:")
print(top_N_salaries)

Top 5 highest salaries:
    Salary
15      99
16      88
7       85
19      75
5       74

In [78]:
range_start = 40000
range_end = 60000
salaries_within_range = df```python
range_start = 40000
range_end = 60000
salaries_within_range = df[(df['Salary'] >= range_start) & (df['Salary'] <= range_end)].shape[0]
print("Number of salaries within the range $40,000 - $60,000:", salaries_within_range)

SyntaxError: invalid syntax (2166512426.py, line 3)

In [79]:
std_deviation_salary = df['Salary'].std()
print("Standard deviation of salaries:", std_deviation_salary)

Standard deviation of salaries: 23.201087823429233