##   Name: Shukri Abdullahi Mohamed    Class: CA208    ID: C120446

In [1]:
import statistics as stat
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("loanapplications.csv")

In [3]:
df.head()

,married,race,loan_decision,occupancy,loan_amount,applicant_income,num_units,num_dependants,self_employed,monthly_income,purchase_price,liquid_assets,mortage_payment_history,consumer_credit_history,filed_bankruptcy,property_type,gender
0,True,white,reject,1,128,74,1.0,1.0,False,4583,160.0,52.0,2,2,False,2,male
1,False,white,approve,1,128,84,1.0,0.0,False,2666,143.0,37.0,2,2,False,2,male
2,True,white,approve,1,66,36,1.0,0.0,True,3000,110.0,19.0,2,6,True,2,male
3,True,white,approve,1,120,59,1.0,0.0,False,2583,134.0,31.0,2,1,False,1,male
4,False,white,approve,1,111,63,1.0,0.0,False,2208,138.0,169.0,2,6,False,2,male

In [7]:
# Shape of the data
shape = df.shape

In [8]:
print("shape of data",shape)

shape of data (1988, 17)

In [9]:
# find for missing values
missing_values = df.isnull().sum()

print(missing_values)

married                     3
race                        0
loan_decision               0
occupancy                   0
loan_amount                 0
applicant_income            0
num_units                   4
num_dependants              3
self_employed               0
monthly_income              0
purchase_price              0
liquid_assets               0
mortage_payment_history     0
consumer_credit_history     0
filed_bankruptcy            0
property_type               0
gender                     14
dtype: int64

In [10]:
deplicate_values=df.duplicated()
print(deplicate_values)

0       False
1       False
2       False
3       False
4       False
        ...
1983    False
1984    False
1985    False
1986    False
1987    False
Length: 1988, dtype: bool

In [11]:
df.describe()

,occupancy,loan_amount,applicant_income,num_units,num_dependants,monthly_income,purchase_price,liquid_assets,mortage_payment_history,consumer_credit_history,property_type
count,1988.000000,1988.000000,1988.000000,1984.000000,1985.000000,1988.000000,1988.000000,1988.000000,1988.000000,1988.000000,1988.000000
mean,1.031690,143.272636,84.684105,1.122480,0.771285,5195.220825,196.304088,4620.333873,1.708249,2.110161,1.861167
std,0.191678,80.531470,87.079777,0.437315,1.104464,5270.360946,128.136030,67142.936043,0.555335,1.663256,0.535448
min,1.000000,2.000000,0.000000,1.000000,0.000000,0.000000,25.000000,0.000000,1.000000,1.000000,1.000000
25%,1.000000,100.000000,48.000000,1.000000,0.000000,2875.750000,129.000000,20.000000,1.000000,1.000000,2.000000
50%,1.000000,126.000000,64.000000,1.000000,0.000000,3812.500000,163.000000,38.000000,2.000000,1.000000,2.000000
75%,1.000000,165.000000,88.000000,1.000000,1.000000,5594.500000,225.000000,83.000000,2.000000,2.000000,2.000000
max,3.000000,980.000000,972.000000,4.000000,8.000000,81000.000000,1535.000000,1000000.000000,4.000000,6.000000,3.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1988 entries, 0 to 1987
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   married                  1985 non-null   object
 1   race                     1988 non-null   object
 2   loan_decision            1988 non-null   object
 3   occupancy                1988 non-null   int64
 4   loan_amount              1988 non-null   int64
 5   applicant_income         1988 non-null   int64
 6   num_units                1984 non-null   float64
 7   num_dependants           1985 non-null   float64
 8   self_employed            1988 non-null   bool
 9   monthly_income           1988 non-null   int64
 10  purchase_price           1988 non-null   float64
 11  liquid_assets            1988 non-null   float64
 12  mortage_payment_history  1988 non-null   int64
 13  consumer_credit_history  1988 non-null   int64
 14  filed_bankruptcy         1988 non-null   bool
 15  property_type            1988 non-null   int64
 16  gender                   1974 non-null   object
dtypes: bool(2), float64(4), int64(7), object(4)
memory usage: 237.0+ KB

In [13]:
# Calculate the mean of numeric columns
mean_values = df.mean()
print(mean_values)

married                       0.658942
occupancy                     1.031690
loan_amount                 143.272636
applicant_income             84.684105
num_units                     1.122480
num_dependants                0.771285
self_employed                 0.129276
monthly_income             5195.220825
purchase_price              196.304088
liquid_assets              4620.333873
mortage_payment_history       1.708249
consumer_credit_history       2.110161
filed_bankruptcy              0.068913
property_type                 1.861167
dtype: float64

C:\Program Files\KMSpico\temp\ipykernel_7296\2288066595.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_values = df.mean()

 guud ahaan inta deenta laga diiday ama laga yeely

In [6]:
approvedLoanFromWhite = df[(df['race'] == 'white') & (df['loan_decision'] == "approve")]
len(approvedLoanFromWhite)

1526

In [17]:
result = pd.DataFrame(df)
white_people = df[df['race'] == 'white']

# Calculate the sum of dependents for white people
num_dependents = white_people['num_dependants'].sum()
print("Number of dependents of white people:", num_dependents)

Number of dependents of white people: 1244.0

In [20]:
results = pd.DataFrame(df)
black_people = df[df['race'] == 'black']
total_dependents = black_people['num_dependants'].sum()

# Print the total number of dependents of black people
print("Total number of dependents of black people:", total_dependents)

Total number of dependents of black people: 172.0

In [21]:
df3 = pd.DataFrame(df)
black_women = df[(df['race'] == 'black') & (df['gender'] == 'female')]
total_dependents = black_women['num_dependants'].sum()

# Print the total number of dependents of black women
print("Total number of dependents of black women:", total_dependents)

Total number of dependents of black women: 25.0

In [22]:
df4 = pd.DataFrame(df)
white_women = df[(df['race'] == 'white') & (df['gender'] == 'female')]
total_dependents = white_women['num_dependants'].sum()

# Print the total number of dependents of white women
print("Total number of dependents of white women:", total_dependents)

Total number of dependents of white women: 95.0

In [23]:
df5 = pd.DataFrame(df)
black_men = df[(df['race'] == 'black') & (df['gender'] == 'male')]
total_dependents = black_men['num_dependants'].sum()

# Print the total number of dependents of black men
print("Total number of dependents of black men:", total_dependents)

Total number of dependents of black men: 146.0

In [33]:
df6 = pd.DataFrame(df)
married_people = df[df['married'] == True]
num_married_people = len(married_people)

# Print the count of married people
print("Number of married people:", num_married_people)

Number of married people: 1308

 dadka deenta laga diiday

In [5]:
rejectedLoanOnes = df[df['loan_decision'] == "reject"]
len(rejectedLoanOnes)

244

dadka guursaday ee deenta laga diiday

In [7]:
rejectedLoanFromMarried = df[(df['married'] == True) & (df['loan_decision'] == "reject")]
len(rejectedLoanFromMarried)

142

In [9]:
mean_monthly_income =df['monthly_income'].mean
print(mean_monthly_income)

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0       4583
1       2666
2       3000
3       2583
4       2208
        ...
1983    5000
1984    9583
1985    4159
1986    9200
1987    4583
Name: monthly_income, Length: 1988, dtype: int64>