In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('loanapplications.csv')

In [93]:
df.head(5)

,married,race,loan_decision,occupancy,loan_amount,applicant_income,num_units,num_dependants,self_employed,monthly_income,purchase_price,liquid_assets,mortage_payment_history,consumer_credit_history,filed_bankruptcy,property_type,gender
0,True,white,reject,1,128,74,1.0,1.0,False,4583,160.0,52.0,2,2,False,2,male
1,False,white,approve,1,128,84,1.0,0.0,False,2666,143.0,37.0,2,2,False,2,male
2,True,white,approve,1,66,36,1.0,0.0,True,3000,110.0,19.0,2,6,True,2,male
3,True,white,approve,1,120,59,1.0,0.0,False,2583,134.0,31.0,2,1,False,1,male
4,False,white,approve,1,111,63,1.0,0.0,False,2208,138.0,169.0,2,6,False,2,male




# Guud ahaan inta daynta laga diiday

In [26]:
rejectedLoanOnes = df[df['loan_decision'] == "reject"]
len(rejectedLoanOnes)

244

# Guud ahaan inta deynta laga yeelay

In [28]:
approvedLoanOnes = df[df['loan_decision'] == "approve"]
len(approvedLoanOnes)

1744

# white-ka laga diiday deynta

In [72]:
rejectedLoanFromWhite = df[(df['race'] == 'white') & (df['loan_decision'] == "reject")]
len(rejectedLoanFromWhite)

154

# white-ka laga yeelay deynta

In [75]:
approvedLoanFromWhite = df[(df['race'] == 'white') & (df['loan_decision'] == "approve")]
len(approvedLoanFromWhite)

1526

# black-ga laga diiday deynta

In [78]:
rejectedLoanFromBlack = df[(df['race'] == 'black') & (df['loan_decision'] == "reject")]
len(rejectedLoanFromBlack)

64

# Black-ga laga yeelay deynta

In [84]:
approvedLoanFromBlack = df[(df['race'] == 'black') & (df['loan_decision'] == 'approve')]
len(approvedLoanFromBlack)

133

# Imisaa Haween ahan

In [86]:
female = df[df['gender'] == 'female']
len(female)

369

# Imisaa Rag ahan

In [91]:
male = df[df['gender'] == 'male']
len(male)

1605

# Dadka guursaday ee deynta laga yeelay

In [1]:
approvedLoanFromMarried = df[(df['married'] == True) & (df['loan_decision'] == "approve")]
len(approvedLoanFromMarried)

NameError: name 'df' is not defined

# Dadka guursaday ee laga diiday deynta

In [98]:
rejectedLoanFromMarried = df[(df['married'] == True) & (df['loan_decision'] == "reject")]
len(rejectedLoanFromMarried)

142

# haweenka guursaday ee deynta laga aqbalay

In [113]:
marriedFemaleFromApprovedLoan = df[(df['married'] == True) & (df['gender'] == 'female') & (df['loan_decision'] == 'approve')]
len(marriedFemaleFromApprovedLoan)

102

# haweenka guursaday ee deynta laga diiday

In [115]:
marriedFemaleFromRejectedLoan = df[(df['married'] == True) & (df['gender'] == 'female') & (df['loan_decision'] == 'reject')]
len(marriedFemaleFromRejectedLoan)

14

# Raga Guursaday ee deynta laga aqbalay

In [116]:
marriedMaleFromApprovedLoan = df[(df['married'] == True) & (df['gender'] == 'male')  & (df['loan_decision'] == 'reject')]
len(marriedMaleFromApprovedLoan)

128

# Raga guursaday ee deynta laga diiday

In [117]:
marriedMaleFromRejectedLoan = df[(df['married'] == True) & (df['gender'] == 'male')  & (df['loan_decision'] == 'approve')]
len(marriedMaleFromRejectedLoan)

1056

# Qofka heysto monthly income-ka ugu badan

In [126]:
IdxmaximumMonthlyIncome = df['monthly_income'].idxmax()
maximumMonthlyIncome = df.loc[IdxmaximumMonthlyIncome]
maximumMonthlyIncome.monthly_income

81000

# Qofka ugu yar Monthly income

In [130]:
IdxminimumMonthlyIncome = df['monthly_income'].idxmin()
minimumMonthlyIncome = df.loc[IdxminimumMonthlyIncome]
minimumMonthlyIncome.monthly_income

0

# dadka guursaday qofka ugu badan monthly income

In [131]:
IdxMarriedmaximumMonthlyIncome = df['monthly_income'][df['married'] == True].idxmax()
maximumMarriedMonthlyIncome = df.loc[IdxMarriedmaximumMonthlyIncome]
maximumMarriedMonthlyIncome.monthly_income

81000

# dadka aan guursanin qofka ugu badan monthly income

In [132]:
IdxSinglemaximumMonthlyIncome = df['monthly_income'][df['married'] == False].idxmax()
maximumSingleMonthlyIncome = df.loc[IdxSinglemaximumMonthlyIncome]
maximumSingleMonthlyIncome.monthly_income

37719

# Qofka ugu badan raga monthly Income-ka

In [133]:
IdxMalemaximumMonthlyIncome = df['monthly_income'][df['gender'] == 'male'].idxmax()
maximumMaleMonthlyIncome = df.loc[IdxMalemaximumMonthlyIncome]
maximumMaleMonthlyIncome.monthly_income

81000

 # Qofka ugu badan haweenka monthly Income-ka

In [135]:
IdxFemalemaximumMonthlyIncome = df['monthly_income'][df['gender'] == 'female'].idxmax()
maximumFemaleMonthlyIncome = df.loc[IdxFemalemaximumMonthlyIncome]
maximumFemaleMonthlyIncome.monthly_income

25750