In [31]:
#marka hore waa inaa soo import gretsaa packeges.
import statistics as stat
import pandas as pd
import numpy as np

In [32]:
df=pd.read_excel("C:\\Users\\applicant income.xlsx",skiprows = [0])

In [9]:
#waa variable ku soo bandhigayo xogta kugu jirto pass ka kor ku xusan.
df

      applicant_income
0                   74
1                   84
2                   36
3                   59
4                   63
...                ...
1983                96
1984               169
1985                49
1986               110
1987                55

[1988 rows x 1 columns]

In [33]:
#array ga ubedel list
lists = np.array(df)
lists.shape
data_flatten = lists.flatten()

In [34]:
# 1:Mean
# Mean waa celceliska tirooyinka la bixiyay waxaana lagu xisaabiyaa iyadoo la
#    qaybinayo wadarta tirooyinka la bixiyay lona qeebinayo wadarta tirada tirooyinka.
mean = np.mean(lists)
print(f'Celcelista tirooyinka waa :', mean)

Celcelista tirooyinka waa : 84.68948163059889

In [35]:
# 2:Median
#Waa lambarka dhexe ee liiska kor ama hoos u dhacaya ee tirooyinka waxayna noqon kartaa 
#   mid sifayn badan xogta la dejiyay marka loo eego celceliska.
median = np.median(lists)
print('lambarka dhexe ee diiwanka waa :', median)

lambarka dhexe ee diiwanka waa : 64.0

In [37]:
#3: mode
# mode waa tiro ka mid ah tirooyinka kusoo naqanaqda inta badan diiwanka. 
mode = stat.mode(data_flatten.tolist())
print('Tirooyinka soo naqnaqday waa :', mode)

Tirooyinka soo naqnaqday waa : 48

In [27]:
#  tirada inta ey u dhexeyso
the_range = np.ptp(df)
#  bahsanaanta xogta
variance  = np.var(df,ddof=1)
std = np.std(df, ddof=1)
print(f'the range of the data: {the_range} Variance: {variance} Std: {std}')

the range of the data: applicant_income    972
dtype: int64 Variance: applicant_income    7582.887578
dtype: float64 Std: applicant_income    87.079777
dtype: float64

C:\ProgramData\anaconda3\Lib\site-packages\numpy\core\_methods.py:283: FutureWarning: In a future version, DataFrame.max(axis=None) will return a scalar max over the entire DataFrame. To retain the old behavior, use 'frame.max(axis=0)' or just 'frame.max()'
  umr_maximum(a, axis, None, out, keepdims),
C:\ProgramData\anaconda3\Lib\site-packages\numpy\core\_methods.py:284: FutureWarning: In a future version, DataFrame.min(axis=None) will return a scalar min over the entire DataFrame. To retain the old behavior, use 'frame.min(axis=0)' or just 'frame.min()'
  umr_minimum(a, axis, None, None, keepdims),

In [38]:
# QUARTILES
q1 = np.percentile(lists, 25)
q2 = np.percentile(lists, 50)
q3 = np.percentile(lists,75)
print(f'Quartile_1: {q1} Quartile_2: {q2} Quartile_3: {q3}')

Quartile_1: 48.0 Quartile_2: 64.0 Quartile_3: 88.0