               Name:  Shukri Abdullahi Mohamed
               Class: CA208
               ID:    C120446

In [ ]:
#importing pandas library
import pandas as pd

In [59]:
df=pd.read_csv("movies.csv")

In [60]:
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English

In [61]:
type(df)

pandas.core.frame.DataFrame

In [62]:
df.shape

(37, 10)

  inta columns ay ka koban tahay data dena

In [6]:
df.columns

Index(['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language'],
      dtype='object')

  inta  flim o ku jirto data

In [7]:
len(df)

37

 info waxa uu ku shega data da hade ku jiran column banaa ama row bana

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         37 non-null     object
 1   industry      37 non-null     object
 2   release_year  37 non-null     int64
 3   imdb_rating   36 non-null     float64
 4   studio        34 non-null     object
 5   budget        37 non-null     float64
 6   revenue       37 non-null     float64
 7   unit          37 non-null     object
 8   currency      37 non-null     object
 9   language      37 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.0+ KB

 waxa uu xisabina count ,mean,std, min, max, 25% ila 75%

In [9]:
df.describe()

       release_year  imdb_rating        budget        revenue
count     37.000000    36.000000     37.000000      37.000000
mean    2007.027027     7.919444   2084.975135    4117.135135
std       17.657995     1.204947  11477.487145   16372.462682
min     1946.000000     1.900000      1.000000       3.100000
25%     2001.000000     7.800000     15.500000     263.100000
50%     2014.000000     8.100000    165.000000     701.800000
75%     2018.000000     8.400000    250.000000    2000.000000
max     2022.000000     9.300000  70000.000000  100000.000000

  flimka ugu fa iidada badan

In [10]:
df['profit']=df['revenue']-df['budget']

In [11]:
max_index_profit=df["profit"].idxmax()

In [12]:
max_profit_flim=df.loc[max_index_profit]

In [13]:
max_profit_flim

title                     Pather Panchali
industry                        Bollywood
release_year                         1955
imdb_rating                           8.3
studio          Government of West Bengal
budget                            70000.0
revenue                          100000.0
unit                            Thousands
currency                              INR
language                          Bengali
profit                            30000.0
Name: 0, dtype: object

  flimka ugu fa iidada yar

In [14]:
min_profit_index=df['profit'].idxmin()

In [15]:
min_profit_flim=df.loc[min_profit_index]

In [16]:
min_profit_flim

title           It's a Wonderful Life
industry                    Hollywood
release_year                     1946
imdb_rating                       8.6
studio                  Liberty Films
budget                           3.18
revenue                           3.3
unit                         Millions
currency                          USD
language                      English
profit                           0.12
Name: 10, dtype: object

 inta luqad ee lagu jilay flimska

In [17]:
df.language.unique()

array(['Bengali', 'English', 'Hindi', 'Kannada', 'Telugu'], dtype=object)

 luqad kasta inta flim lagu jilay

In [18]:
df.language.value_counts()

English    20
Hindi      12
Telugu      3
Bengali     1
Kannada     1
Name: language, dtype: int64

 luqada hindi ga flimka ugu fa iidada badan

In [55]:
hind_max_idx=df['profit'][df['industry']=="Bollywood"].idxmax()

In [56]:
hindi_max_profit_flim=df.loc[hind_max_idx]

In [57]:
hindi_max_profit_flim

title                     Pather Panchali
industry                        Bollywood
release_year                         1955
imdb_rating                           8.3
studio          Government of West Bengal
budget                            70000.0
revenue                          100000.0
unit                            Thousands
currency                              INR
language                          Bengali
profit                            30000.0
Name: 0, dtype: object

 luqada english ka flimka ugu fa iidada badan

In [44]:
Englis_max_idx=df['profit'][df['industry']=="Hollywood"].idxmax()

In [45]:
English_max_profit_flim=df.loc[Englis_max_idx]

In [46]:
English_max_profit_flim

title                     Avatar
industry               Hollywood
release_year                2009
imdb_rating                  7.8
studio          20th Century Fox
budget                     237.0
revenue                   2847.0
unit                    Millions
currency                     USD
language                 English
profit                    2610.0
Name: 11, dtype: object

 inta flim oo lagu  jilay hollywood ama bollywood

In [25]:
df.industry.value_counts()

Hollywood    20
Bollywood    17
Name: industry, dtype: int64

 inta lacag laga helay  flimska

In [26]:
df.unit.unique()

array(['Thousands', 'Millions', 'Billions'], dtype=object)

 flimka ugu badan ee Billions so xareyay

In [27]:
max_billions_profit_flim=df['profit'][df['unit']=='Millions'].idxmax()

In [28]:
max_flim_billions=df.loc[max_billions_profit_flim]

In [29]:
max_flim_billions

title           Bajrangi Bhaijaan
industry                Bollywood
release_year                 2015
imdb_rating                   8.1
studio          Salman Khan Films
budget                      900.0
revenue                   11690.0
unit                     Millions
currency                      INR
language                    Hindi
profit                    10790.0
Name: 30, dtype: object

  flimka ugu badan ee Millions so xareyay

In [30]:
max_Millions_profit_flim=df['profit'][df['unit']=='Billions'].idxmax()

In [31]:
max_flim_Millions=df.loc[max_Millions_profit_flim]

In [32]:
max_flim_Millions

title           K.G.F: Chapter 2
industry               Bollywood
release_year                2022
imdb_rating                  8.4
studio             Hombale Films
budget                       1.0
revenue                     12.5
unit                    Billions
currency                     INR
language                 Kannada
profit                      11.5
Name: 33, dtype: object

 luqada Telugu ka flimka ugu fa iidada badan

In [50]:
Telugu_max_idx=df['profit'][df['language']=="Telugu"].idxmax()

In [51]:
Telugu_max_profit_flim=df.loc[Telugu_max_idx]

In [52]:
Telugu_max_profit_flim

title                         RRR
industry                Bollywood
release_year                 2022
imdb_rating                   8.0
studio          DVV Entertainment
budget                        5.5
revenue                      12.0
unit                     Billions
currency                      INR
language                   Telugu
profit                        6.5
Name: 35, dtype: object

 dhaman lacagaha ee so xareyen flimska iyo lacagaha lagu bixiyaya

In [39]:
df['profit'] = df['revenue']- df['budget']

In [41]:
df['profit']

0     30000.00
1       754.80
2       479.80
3       674.00
4       420.00
5        48.30
6       536.80
7       252.10
8       357.50
9      2002.00
10        0.12
11     2610.00
12      283.80
13      821.00
14      300.20
15      983.00
16      247.60
17     2398.00
18     1648.00
19      153.90
20      537.40
21     1600.00
22     3450.00
23      970.00
24        2.10
25     1230.00
26      310.00
27     7690.00
28        4.90
29     3159.00
30    10790.00
31        1.30
32      450.00
33       11.50
34        1.60
35        6.50
36        4.70
Name: profit, dtype: float64