### Creation of NumPy Arrays from List

There are several ways to create arrays. To create an  array and to use its methods, first we need to import the  NumPy library.

In [85]:
#NumPy is loaded as np (we can assign any  #name), numpy must be written in lowercase
import numpy as np

NumPy is loaded as np (we can assign any  #name), numpy must be written in lowercase
import numpy as np

In [86]:
#The NumPyâ€™s array() function converts a given list  into an array. For example,
#Create an array called array1 from the  #given list.
arr = np.array([10,20,30])
arr

array([10, 20, 30])

In [87]:
arr = np.arange(2,6)
arr

array([2, 3, 4, 5])

In [88]:
#ndarray.shape: It gives the sequence of integers  
#indicating the size of the array for each dimension
arr.size
#print(arr.shape) => hape relates to the size of the dimensions of an N-dimensional array.

4

We can create an array with all elements initialised  to 0 using the function zeros(). By default, the  data type of the array created by zeros() is float.  The following code will create an array with 3 rows  and 4 columns with each element set to 0.

We can also create an array with all elements initialised  to 1 using the function ones(). By default, the  data type of the array created by ones() is float.  The following code will create an array with 3 rows  and 2 columns.

In [89]:
arr_list = np.ones((3,2))
arr_list

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [90]:
months = np.array(["Jan","Feb","Mar"])
#months
months[2]

'Mar'

### INDEXING AND SLICING

In [91]:
arr1 = np.arange(4)
print("Array arr11:",arr1)
print("Element at index 0 of arr1 is:",arr1[0])
print("Element at index 1 of arr1 is:",arr1[1])

Array arr11: [0 1 2 3]
Element at index 0 of arr1 is: 0
Element at index 1 of arr1 is: 1

In [92]:
# slice items starting from index 

a = np.arange(10) 
     # a[6:]
a[2:8]
    # print (a[2:])

array([2, 3, 4, 5, 6, 7])

OPERATIONS ON ARRAYS

In [93]:
array1 = np.array([[3,6],[4,2]])

array2 = np.array([[10,20],[15,12]])
#Element-wise addition of two matrices.
array1 + array2  # you can make substraction, Multiplication, Division and so on

array([[13, 26],
       [19, 14]])

RESHAPING ARRAYS

In [94]:
array3 = np.arange(10,22)
array3

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21])

In [95]:
array3.reshape(3,4)

array([[10, 11, 12, 13],
       [14, 15, 16, 17],
       [18, 19, 20, 21]])

### Describe statistics of the our example data using NumPy

In [96]:
# Import Pacakages
import statistics as stat
import numpy as np

In [97]:
# Creating a salary list 

salary = [10,20,22,12,25,10,24,26,21]

# build numpy array to the list
salaries = np.array(salary)
salaries.shape

(9,)

In [98]:
# Calculate Statistically measurements(Central tendancy)
mean = np.mean(salaries)
median = np.median(salaries)
mode = stat.mode(salaries)
print(f'The Mean of the salary: {mean} Median {median}, Mode: {mode}')

The Mean of the salary: 18.88888888888889 Median 21.0, Mode: 10

In [99]:
# Variability / Spread Measurements 

the_range = np.ptp(salaries)
variance  = np.var(salaries,ddof=1)
std = np.std(salaries, ddof=1)
print(f'the range of the data: {the_range} Variance: {variance} Std: {std}')

the range of the data: 16 Variance: 41.861111111111114 Std: 6.470016314593891

The  ddf or delta degrees of freedom allows us to generiate sample variance

QUARTILES

In [100]:
q1 = np.percentile(salaries, 25)
q2 = np.percentile(salaries, 50)
q3 = np.percentile(salaries,75)
print(f'Quartile_1: {q1} Quartile_2: {q2} Quartile_3: {q3}')

Quartile_1: 12.0 Quartile_2: 21.0 Quartile_3: 24.0